.active{
    background-color: #D10000;
}
a{
    /* position: absolute; */
    /* background-color: aqua; */
}
.route{
    width: 100%;
}
.para{
    text-align: left;
}
.logo{
    height: 5rem;
}
.welcome{
    margin-top: 1px;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: left;
}
.google{
    background-color:#f30202;
    margin: 5px;
}
.facebook{
    background-color: rgb(0, 149, 229);
    margin: 5px;
}
.extra{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btns-type2{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
}
.btn-type2:hover{
    transform: scale(1.1);
}
.btn-type2{
    font-size: 1.1rem;
    height: 40px;
    color: white;
    border: 0px;
    transition: .3s;
    cursor: pointer;
}
.orin{
    display: inline;
    padding: 20px;
}
hr{
    width: 50%;
}
.or{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}



.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    /* margin-top: 1rem; */
    margin-bottom: 0.5rem;
    height: 45px;
    border-radius: 10px;
    border: 0px;
    /* font-size: 1rem; */
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.btns{
    /* background-color: #D10000; */
    position: relative;
    width: 100%;
    height: 45px;
    margin-top: 1vw;
    margin-bottom: 20px;
}
.main-img{
    width: 40vw;
    height: 820px;
    min-width: 350px;
}
.page-main-body{
    margin-top: 5vw;
    /* margin-right: 10vw; */
    padding-bottom: 5vw;
    /* width: 90%; */
    height: 100%;
    /* padding: 1vw; */
    align-items: center;
    display: flex;
    justify-content: space-around;
    /* background-color: #D10000; */
}

.page-left{
    /* flex: 2; */
    min-width: 400px;
    width: 640px;
    height: 820px;
    /* height: max-content; */
    /* padding: 5vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 80vh; */
    /* background-color: aqua; */
}
.page-right{
    /* flex: 1; */
    width: 426px;
    height: 820px;
    /* height: 100%; */
    /* min-width: 300px; */
    /* border: 2px solid black; */
    /* width: 50%; */
    /* margin-left: 200px; */
    padding: 2vw;
    /* padding-right: 4vw; */
    /* padding-left: 4vw; */
    /* margin:0px 10px 0px 1vw ; */
    /* background-color: blue; */
    position: relative;

}

body{
    margin: 0px;
}

.signup2{
    width: 308px;
    height: 57px;
    margin-top: 20px;
    background-color: #D10000;
    color: white;
    transition: .3s;
    text-decoration: none;
}
.signup2:hover{
    transform: scale(1.1);
    background-color: black;
}

.login{
    width: 50%;
    background-color: #D9D9D9;
    color: #474747;
    position: absolute;
    left: 0px;
    z-index: 1;
}
.signup{
    position: absolute;
    /* right: px; */
    width: 55%;
    background-color: #FB8904;
    color: #FFF;
    /* left: 00px; */
    right: 0px;
    z-index: 2;
}